$white: #fff;
$status-green: #2e7d32;
$status-red: #b71c1c;
$status-orange: #fb8c00;
$text-color: #212529;
$header-color-gradient: linear-gradient(90deg, #334155 0%, #1e293b 100%);
$footer-color-gradient: linear-gradient(90deg, #1e293b 0%, #334155 100%);
$body-color: #fafafa;
$grey: #696969;
$primary-blue: #0056b3;
$darker-teal: #0d9488;
